# Data Science Tools and Ecosystem

In this assignment, a notebook is created to summarize Data Science Tools and Ecosystem

__Objectives:__
* Create tables in markdown cells.
* List data science tools.
* List popular languages for Data Science.
* List commonly used libraries used by Data Scientists.
* Learn some simple arithmetic expression to multiply then add integers.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R 
4. Scala
5. Julia
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Sci-Kit Learn
3. NumPy
4. TensorFlow
5. SciPy

|Data Science Tools|
|:-----------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Hisham Ahmed